.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Limit the width */
  margin: 0 auto; /* Center it */
}

.carouselTrack {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.carouselTrack::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.carouselSlide {
  flex: 0 0 100%;
  width: 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}